<header style="background-color: red;">
    <div id="barra-superior" style="background-color: green;">
        <div id="buscador" style="background-color: purple;">
            busqueda
        </div>
        <div id="grupo-dcho" style="background-color: yellow;">
            <div id="carrito" style="background-color: indianred;">
                carrito
            </div>
            <div id="login-bar" style="background-color: gray;">
                <a href="#">login</a>
                <a href="#">register</a>
            </div>

        </div>
    </div>
    <div id="contenedor logo" style="background-color: blue;">text</div>
    <nav id="barra-navegacion">
        <ul>
            <li class="nav-button" style="background-color: chocolate;">Boton I1</li>
            <li class="nav-button" style="background-color: chocolate;">Boton I2</li>
            <li class="nav-button" style="background-color: chocolate;">Boton I3</li>
            <li class="nav-button" style="background-color: chocolate;">Boton D1</li>
            <li class="nav-button" style="background-color: chocolate;">Boton D2</li>
        </ul>
    </nav>    
</header>